* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

header {
    padding: 20px;
    text-align: center;
}

@media(min-width: 768px) {

    article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align:top;
        
        
    }
}

@media(min-width: 600px) {
    vertical-align: top; width: 100px;
    margin-bottom: 16px;
    }



footer {
    margin-top: 24px;
    text-align: center;
}

